* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* text for paragraphs */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}

.title {
  font-family: "Big Shoulders Display", cursive;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 38px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 28px;
  padding-bottom: 68px;
}

.bg-1 {
  background-color: hsl(31, 77%, 52%);
}

.bg-2 {
  background-color: hsl(184, 100%, 22%);
}

.bg-3 {
  background-color: hsl(179, 100%, 13%);
}

button {
  background-color: hsl(0, 0%, 95%);
  padding: 16px 28px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bg-1 button {
  color: hsl(31, 77%, 52%);
}

.bg-2 button {
  color: hsl(184, 100%, 22%);
}

.bg-3 button {
  color: hsl(179, 100%, 13%);
}

/* Mobile First */
.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 375px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 22px;
  box-shadow: 6px 8px 6px rgb(185, 180, 180);
}

.card {
  padding: 42px 60px;
}

.icon {
  width: 50px;
  padding-bottom: 38px;
}

@media (min-width: 1020px) {
  body {
    height: 100vh;
    padding-top: 120px;
  }
  .container {
    max-width: 1125px;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
  }
}
